@charset "UTF-8";

:root{
  --fundo-principal: #f5f5f5 ;
  --texto: #222222 ;
  --texto-inverso: #ffffff ;
  --destaque: #0077ff ;
  --destaque-inverso: #66bbff ;
  --fundo-card: #ffffff ;
}

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--fundo-principal);
}
header{
  background-color: var(--destaque);
  color: var(--texto);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px;
}
nav#menu ul{
  list-style: none;
  display: flex;
  gap: 10px;
}
nav#menu a{
  text-decoration: none;
  color: var(--texto-inverso);
  border-radius: 7px;
  padding: 12px 15px;

  transition: background-color 0.5s linear, color 0.5s linear;
}
nav#menu a:hover{
  color: var(--texto);
  background-color: var(--destaque-inverso);
}

main{
  display: grid;
  grid-template-columns: auto 90% auto;
}
section#ficha{
  background-color: var(--fundo-card);
  padding: 10px;
  border-radius: 7px;
  grid-column: 2;
  margin: 20px 0px;
}
section#ficha img.foto{
  width: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: 15px auto;
}
section#ficha h1{
  margin: 15px 0px;
  font-size: 1.3em;
  line-height: 1.5em;
  color: var(--destaque);
}
section#ficha p{
  text-align: justify;
  line-height: 1.5em;
  font-size: 0.8em;
}
div#social{
  display: flex;
  font-size: 1.3em;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 5px;
}
div#social a{
  color: var(--destaque);

  transition: color 0.5s linear;
  
}
div#social a:hover{
  color: var(--destaque-inverso);
}

section#detalhes{
  grid-column: 2;
}

section#detalhes article{
  background-color: var(--fundo-card);
  padding: 10px;
  margin: 20px 0px;
  border-radius: 7px;
}
section#detalhes h2{
  font-size: 1.3em;
  color: var(--destaque);
  margin-bottom: 20px;
  line-height: 1.5em;
  padding: 5px 10px;
}
#video-conteiner{
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
}
#video-conteiner iframe{
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
#skills-conteiner{
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
#skills-conteiner .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
#skills-conteiner .nome{
  font-weight: bold;
  color: var(--texto);
}
#skills-conteiner .porcentagem{
  font-weight: bold;
  color: var(--destaque);
}
#skills-conteiner .barra{
  width: 100%;
  height: 10px;
  margin-top: 5px;
  background-color: var(--fundo-principal);
  border-radius: 5px;
  margin-bottom: 20px;
}
#skills-conteiner .progresso{
  height: 100%;
  background-color: var(--destaque-inverso);
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  #skills-conteiner{
    grid-template-columns: 1fr 1fr;
  }
}
